<div class="card">
    <div class="card-container">
        <div>
            <div id="card-total-liquido" class="cards">
                <span class="titulo-card">Total líquido</span>
                <hr>
                <h1>R$ 2.356,99 </h1>
            </div>
        </div>
        <div>

            <div id="card-fatura-atual" class="cards">
                <span class="titulo-card">Fatura atual</span>
                <hr>
                <h1>R$ 2.356,99 </h1>
            </div>
        </div>
        <div>
            <div id="card-proxima-fatura" class="cards">
                <span class="titulo-card">Próxima fatura</span>
                <hr>
                <h1>R$ 356,99 </h1>
            </div>
        </div>
    </div>
</div>

<!-- <div id="default-carousel" class="relative w-full" data-carousel="">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <div class="card-mobile" data-carousel-item>
            <div id="card-total-liquido" class="cards">
                <span class="titulo-card">Total líquido</span>
                <hr>
                <h1>R$ 0,00 </h1>
            </div>
        </div>
        <div class="hidden" data-carousel-item>
            <div id="card-fatura-atual" class="cards">
                <span class="titulo-card">Fatura atual</span>
                <hr>
                <h1>R$ 0,00 </h1>
            </div>
        </div>
        <div class="hidden" data-carousel-item>
            <div id="card-proxima-fatura" class="cards">
                <span class="titulo-card">Próxima fatura</span>
                <hr>
                <h1>R$ 0,00 </h1>
            </div>
        </div>
    </div>
    <div class="absolute z-30 flex -translate-x-1/2 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full mt-2" aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full mt-2" aria-current="false" aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full mt-2" aria-current="false" aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
    </div>
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
    </button>
</div> -->