<div class="card">
    <div class="card-container">
        <div class="cards">
            <span class="titulo-card-total-liquido">Total líquido</span>
            <!-- <div class="c"></div> -->
        </div>
        <div class="cards">
            <span class="titulo-card-total-liquido">Total líquido</span>
            <!-- <div class="c"></div> -->
        </div>
        <div class="cards">
            <span class="titulo-card-total-liquido">Total líquido</span>
            <!-- <div class="c"></div> -->

        </div>
    </div>
</div>''