<div class="card">
    <div class="card-container">
        <div>
            <span class="titulo-card">Total líquido</span>
            <div id="card-total-liquido" class="cards"></div>
        </div>
        <div>
            <span class="titulo-card">Fatura atual</span>
            <div id="card-fatura-atual" class="cards"></div>
        </div>
        <div>
            <span class="titulo-card">Próxima fatura</span>
            <div id="card-proxima-fatura" class="cards"></div>
        </div>
    </div>
</div>