.card {
    width: 100%;
    height: 15rem;
    background-color: var(--background-secondary);
    border-radius: 20px;
    // border: 2px solid orange;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // border: 2px solid greenyellow;
}

.titulo-card {
    height: fit-content;
    font-family: 'Roboto';
    color: #d5d5d5;
    font-size: 10pt;
}

#card-total-liquido {
    background-color: #197817;
}

#card-fatura-atual {
    background-color: #1957A0;
}

#card-proxima-fatura {
    background-color: #C46914;
}

.cards {
    // border: 1px solid red;
    width: 15rem;
    height: 6rem;
    border-radius: 10px;
}