header {
    display: flex;
}

nav {
    width: 100%;
    padding: 5rem 1.5rem 0;
}

section {
    width: 100%;
    height: fit-content;
    margin-top: 5rem;
}

.btn-nova-transacao{
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-nova-transacao button{
    width: 135px;
    height: 35px;
    border-radius: 10px;
    font-size: 10pt;
    background-color: #1957A0;
    color: #fff;
    border: 1px solid #B9B8B8;
}