<header>
    <app-sidebar></app-sidebar>
    <nav class="nav">
        <app-card-faturas></app-card-faturas>
        <section>
            <div class="card-transacoes">
                <span>Compra</span>
                <span>Tipo Compra</span>
                <span>Status</span>
                <span>Valor R$</span>
            </div>
            <div class="card-transacoes">
                <span>{{ }}</span>
                <span>{{ }}</span>
                <span>{{ }}</span>
                <span>{{ }}</span>
            </div>
        </section>
    </nav>
</header>