<div class="cabecalho-card-transacoes">
    <span>Compra</span>
    <span>Tipo Compra</span>
    <span>Status</span>
    <span>Valor R$</span>
</div>
<div *ngIf="dadosTransacao.length; else semTransacoes">
    <div *ngFor="let transacao of dadosTransacao" class="card-transacoes transacoes">
        <span>{{transacao.nomeCompra}}</span>
        <span>{{transacao.tipoCompra}}</span>
        <span>{{transacao.status}}</span>
        <span>{{transacao.valor}}</span>
    </div>
</div>
    <ng-template #semTransacoes>
        <span id="descSemTransacao" >Não há transações</span>
    </ng-template>