.navbarLateral {
    width: 5rem;
    height: 100vh;
    background-color: var(--sidebar);
    font-family: 'Roboto';
    color: #fff;
}

.cardIconesLateral li span {
    display: flex;
    justify-content: center;
    line-height: 5rem;
    color: azure;
    cursor: pointer;
}

span:hover {
    background-color: var(--hover-icons);
}


// media queries

@media(max-width: 450px){
    .navbarLateral{
        display: none;
    }
}

