@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    --background-primary: #111112;
    --background-secondary: #1B1B1E;
    --sidebar: #0B0B0B;
    --hover-card: #222225;
    --hover-icons: #363636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-primary);
}

@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto-Regular.ttf);
    font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
