
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Finance-primary: mat.define-palette(mat.$indigo-palette);
$Finance-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Finance-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Finance-theme: mat.define-light-theme((
  color: (
    primary: $Finance-primary,
    accent: $Finance-accent,
    warn: $Finance-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Finance-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';

:root {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    --background-primary: #111112;
    --background-secondary: #1B1B1E;
    --sidebar: #0B0B0B;
    --hover-card: #222225;
    --hover-icons: #363636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-primary);
}

@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto-Regular.ttf);
    font-weight: 400;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
